{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true, 
        "es6": true
    },
    "extends": ["eslint:recommended", "google", "prettier"],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "semi":"warn",
        "object-curly-spacing":"off",
        "comma-dangle":"off",
        "linebreak-style":"off",
        "require-jsdoc":"off",
        "no-unused-vars": "warn",
        "no-trailing-spaces": "off",
        "space-before-blocks":"warn",
        "max-len": "off",
        "no-debugger": "off",
        "quotes":"off",
        "spaced-comment":"off",
        "one-var": "off", 
        "indent":"off", 
        "no-self-assign":"off"
    }
}
