Webpack (import and exports)
    Babel
    Scss
    ESlint
    2 Modes
        - Dev
            Dev server
            Source-map
            ESlint
            not minified JS and CSS
        - Prod
            minified JS and CSS
Git
    Production
    2.0.0
    0 -------------------------
    Development
    2.0.2
    1 ----------------------------

