$db-gray: #dadce0;
$db-primary: #202124;

.dashboard {
  &__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $dashboard-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
    z-index: 99;
  }

  &__new {
    margin-top: $dashboard-header-height;
    padding: 1.5rem;
    background: $db-gray;
  }

  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__create {
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid $db-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: all 0.2s ease-in;

    &:hover {
      cursor: pointer;
      color: green;
      border-color: green;
    }
  }

  &__list {
    padding: 1rem;

    &-header {
      display: flex;
      justify-content: space-between;
      color: $db-primary;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
      padding: 0 12px;
    }

    &-ul {
      @include clearList();
    }
  }

  &__record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 16px;
    margin-bottom: 10px;

    &:hover {
      background: #e6f4ea;
      border-radius: 25px;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: $db-primary;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.records-none {
  font-weight: 700;
  font-size: 20px;
}
