.excel__toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: $header-height;
  height: $toolbar-height;
  border: 1px solid $border-color;
  padding: 7px 10px;
  display: flex;

  .button {
    @include button(green);
  }
}
